.cyclist__paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  padding: 0;
  margin: 0;
}

@media (max-width: 425px) {
  .cyclist__paragraphs {
    gap: 6px;
  }
}
