.bicycle-cards__filter-select {
  font-size: 18px;
  line-height: 28px;
  background: transparent;
  border: 1px solid rgba(125, 125, 125, 0.5);
  border-radius: 2px;
  min-width: 114px;
  cursor: pointer;
  color: #fff;
  opacity: .7;
  transition: all 0.3s ease;
  padding: 8px 12px 8px 12px;
  margin: 0;
}

.bicycle-cards__filter-select:hover {
  opacity: 1;
}

.bicycle-cards__filter-select:focus {
  border-color: rgba(125, 125, 125, 1);
}

@media (max-width: 425px) {
  .bicycle-cards__filter-select {
    font-size: 11px;
    line-height: 14px;
  }
}

