.cyclist__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0;
  grid-area: author;
}

@media (max-width: 320px) {
  .cyclist__author {
    font-size: 14px;
    line-height: 22px;
  }
}
