.bicycle-cards__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #E5E5E5;
  opacity: .7;
}

.bicycle-cards__link:hover {
  opacity: .5;
  transition: 1s;
}

.bicycle-cards__link:active {
  font-weight: 600;
  opacity: .65;
  transition: 1s;
  color: #FFFFFF;
}

@media (max-width: 320px) {
  .bicycle-cards__link {
    padding: 8px 0 8px 12px;
    font-size: 11px;
  }
  .bicycle-cards__link::after {
    background: url(../../../images/content/bicycle-cards/bicycle-cards-mobile.png);
    content: '';
    display: inline-block;
    width: 12px;
    height: 7px;
    margin: 0 0 0 42px;
  }
}

