.page {
  /*background-color: #333333;*/
  width: 100%;
  height: 100%;

    /*temporary*/
  background: #964c4c;
}

@media (min-width: 768px) {
  .page {
    background: #91914f;
  }
}

@media (min-width: 1024px) {
  .page {
    background: #376b3a;
  }
}

@media (min-width: 1440px) {
  .page {
    background: #683c8a;
  }
}
