.title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  margin: 0;
  max-width: 460px;
  grid-area: title;
  padding: 60px 0 0 0;
}

@media (max-width: 935px) {
  .title {
    font-size: 35px;
    line-height: 40px;
    max-width: 260px;
  }
}

@media (max-width: 768px) {
  .title  {
    font-size: 32px;
    line-height: 40px;

  }
}

@media (max-width: 320px) {
  .title  {
    max-width: 200px;
    padding: 0;
  }
}
