.bicycle-news__name {
  margin: 167px 0 209px 0;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.bicycle-news__name::after {
  content: '';
  margin: 0 0 0 30px;
  display: inline-block;
  height: 2px;
  width: 132px;
  background: url(../../../images/line.png);
}
