.bicycle-news__name {
  display: none;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.bicycle-news__name::after {
  content: '';
  background: url(../../../images/line.png);
  display: inline-block;
  width: 132px;
  height: 2px;
  margin: 0 0 0 30px;
}



@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
  .bicycle-news__name {
    font-size: 18px;
    line-height: 18px;
    display: block;
    justify-self: start;
    grid-area: name;

    /*grid-column: 1/2;*/
    /*grid-row: 1/2;*/
  }
}
