.bicycle-cards {
  padding: 60px 120px 60px 120px;
  display: grid;
  grid-template-areas:
  "title filters"
  "cards cards";
  row-gap: 120px;
}

@media (max-width: 768px) {
  .bicycle-cards  {
    padding: 60px 60px 60px 60px;
  }
}

@media (max-width: 320px) {
  .bicycle-cards  {
    padding: 0 18px 0 18px;
    grid-template-areas:
    "title title"
    "filters filters"
    "cards cards";
    row-gap: 20px;
  }
  .bicycle-cards::after  {
    content: '';
    background: url(../../../images/line-mobile.png);
    display: block;
    width: 284px;
    height: 1px;
    margin: 20px 0 0 0;
  }
}
