.bicycle-news__img {
  max-width: 100%;
  grid-area: img;
}

@media (max-width: 1024px) {
  .bicycle-news__img {
    max-width: 400px;
    object-fit: cover;
  }
}

@media (max-width: 320px) {
  .bicycle-news__img {
    max-width: 254px;
    padding: 0 0 0 30px;
  }
}
