.root {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  text-rendering: optimizeLegibility;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .root {
    max-width: 320px;
  }
}
