.separator-line {
  position: relative;
  display: none;
  width: 100%;
  height: 2px;
  background-color: #707070;
}

@media (max-width: 1024px) {
  .separator-line {
  }
}

@media (max-width: 768px) {
  .separator-line {
    display: block;
  }
}
