.bicycle-news {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 40px;
  padding: 40px 18px;

  /*temporary*/
  background: #376b3a;
}



@media (min-width: 768px) {
}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {
  .bicycle-news {
    padding: 40px 120px;
  }
}
