.footer {
  background: #2F2F2F;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 50px;
  width: 100%;
  padding: 80px 120px 60px 120px;
  margin: 0;
}

@media (max-width: 1024px) {
  .footer  {
    padding: 60px 80px 60px 80px;
  }
}

@media (max-width: 768px) {
  .footer  {
    gap: 40px;
    padding: 60px 60px 60px 60px;
  }
}

@media (max-width: 320px) {
  .footer  {
    padding: 60px 18px 25px 18px;
  }
}
