.bicycle-cards__filters {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  grid-area: filters;
  justify-content: flex-end;
}

@media (max-width: 320px) {
  .bicycle-cards__filters  {
    justify-content: start;
    padding: 20px 0 0 0;
  }
}
